<h1><center> Python Data Cleaning Cookbook</center>

<h2><center>Chapter 1</center</h2>

In [2]:
# Importing a file from CSV 
import pandas as pd 
pd.options.display.float_format='{:,.2f}'.format    # Setting the display option of float values as 2
pd.set_option('display.width',85)       #Setting the width of columns as a standard width
pd.set_option('display.max_columns',8)      #Setting to display only 8 columns

In [3]:
#Importing tkniter library to dynamically choose the file rather than coding the path
import os
import sys
import tkinter as tk
from tkinter import filedialog

In [4]:
root=tk.Tk()
root.withdraw()
file1=filedialog.askopenfilename(title="Browse the required file...")

In [5]:
# Importing the CSV file, Setting the names of the columns and skipping the column headers in the csv file, Parsing the columns "Month and Year" as date "month_year"
landtemps=pd.read_csv(file1,names=['stationid','year','month','avgtemp','latitude','longitude','elevation','station','countryid','country'],skiprows=1,
    parse_dates=[['month','year']])

In [16]:
print(landtemps.head(7))    # To show the first 7 rows of the data.
print("\n\nData Types for the dataframe:")
print(landtemps.dtypes)     # To show the data types of all columns

  measuredate    stationid  avgtemp  latitude  ...  elevation           station  \
0  2000-04-01  USS0010K01S     5.27     39.90  ...   2,773.70     INDIAN_CANYON
1  1940-05-01  CI000085406    18.04    -18.35  ...      58.00             ARICA
2  2013-12-01  USC00036376     6.22     34.37  ...      61.00     SAINT_CHARLES
3  1963-02-01  ASN00024002    22.93    -34.28  ...      65.50  BERRI_IRRIGATION
4  2001-11-01  ASN00028007      nan    -14.78  ...      79.40          MUSGRAVE
5  1991-04-01  USW00024151     5.59     42.15  ...   1,362.50        MALAD_CITY
6  1993-12-01  RSM00022641   -10.17     63.90  ...      13.00             ONEGA

  countryid        country
0        US  United States
1        CI          Chile
2        US  United States
3        AS      Australia
4        AS      Australia
5        US  United States
6        RS         Russia

[7 rows x 9 columns]


Data Types for the dataframe:
measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [17]:
landtemps.rename(columns={'month_year':'measuredate'},inplace=True)     # Renaming the Column "month_year" to "measuredate"
print(landtemps.dtypes)
print("\n\nData Types for the renamed df:")
print(landtemps.avgtemp.describe())

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object


Data Types for the renamed df:
count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

In [22]:
print(landtemps.isnull().sum())       # To return any NULL values in any of the columns
print("\n\nThe dimensions of the existing dataframe are:")
print(landtemps.shape)      # To return the dimensions of the dataframe

measuredate        0
stationid          0
avgtemp        14446
latitude           0
longitude          0
elevation          0
station            0
countryid          0
country            5
dtype: int64


The dimensions of the existing dataframe are:
(100000, 9)

In [24]:
landtemps.dropna(subset=['avgtemp'],inplace=True)       # Dropping all the rows with NULL value in the column "AVGTEMP"
print("The dimensions of the dataframe after dropping Null values:")
print(landtemps.shape)

The dimensions of the dataframe after dropping Null values:
(85554, 9)